@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sliderimg {
  width: 130px;
  height: auto;
  object-fit: contain;
}

.desktop-bg {
  background: rgb(45, 57, 74);
  background: -moz-linear-gradient(
    175deg,
    rgba(45, 57, 74, 1) 58%,
    rgba(255, 255, 255, 1) 58.1%
  );
  background: -webkit-linear-gradient(
    175deg,
    rgba(45, 57, 74, 1) 58%,
    rgba(255, 255, 255, 1) 58.1%
  );
  background: linear-gradient(
    175deg,
    rgba(45, 57, 74, 1) 58%,
    rgba(255, 255, 255, 1) 58.1%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d394a",endColorstr="#ffffff",GradientType=1);
}

@media screen and (min-width: 900px) {
  .desktop-bg {
    background: rgb(45, 57, 74);
    background: -moz-linear-gradient(
      175deg,
      rgba(45, 57, 74, 1) 42%,
      rgba(255, 255, 255, 1) 42.1%
    );
    background: -webkit-linear-gradient(
      175deg,
      rgba(45, 57, 74, 1) 42%,
      rgba(255, 255, 255, 1) 42.1%
    );
    background: linear-gradient(
      175deg,
      rgba(45, 57, 74, 1) 42%,
      rgba(255, 255, 255, 1) 42.1%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d394a",endColorstr="#ffffff",GradientType=1);
  }
}
